<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zktr.crmproject.dao.mybatis.HTIStockDao">
    <resultMap id="stockMap" type="Stock">
            <id column="stock_id" property="stockId"></id>
            <result column="stock_quantity" property="stockQuantity"></result>
            <association property="productspecification">
                <id property="speId" column="spe_id"></id>
                <result property="proName" column="pro_name"></result>
                <result property="speSpecification" column="spe_specification"></result>
                <result property="speUnit" column="spe_unit" ></result>
                <result property="speUnitConversion" column="spe_unit_conversion"></result>
                <association property="product" javaType="Product">
                    <id property="proId" column="pro_id"></id>
                    <result property="proName" column="pro_name"></result>
                    <result property="proImage" column="pro_image"></result>
                    <result property="proMode" column="pro_mode"></result>
                    <result property="proState" column="pro_state"></result>
                    <result property="proPrice" column="pro_price"></result>
                    <result property="proCostprice" column="pro_costprice"></result>
                    <result property="proUnit" column="pro_unit"></result>
                    <result property="proBarcode" column="pro_barcode"></result>
                    <result property="proWeight" column="pro_weight"></result>
                    <result property="proGroup" column="pro_group"></result>
                    <result property="proDate" column="pro_date"></result>
                    <result property="durableYears" column="durable_years"></result>
                    <result property="proRemark" column="pro_remark"></result>
                    <result property="proDelState" column="pro_del_state"></result>
                    <result property="proExplain" column="pro_explain"></result>
                    <result property="proDetailedProfile" column="pro_detailed_profile"></result>
                </association>
            </association>
            <association property="warehouse" javaType="Warehouse">
                <id column="warehouse_id" property="warehouseId"></id>
                <result column="warehouse_name" property="warehouseName"></result>
                <result column="stock_type" property="stockType"></result>
            </association>
        </resultMap>

    <select id="queryAllStock" resultMap="stockMap">
        select * from stock sto
        left join productspecification pros on sto.spe_id = pros.spe_id
        left join warehouse w on sto.warehouse_id = w.warehouse_id
        left join alarmdetail a on sto.stock_id = a.stock_id order by sto.stock_id desc
    </select>

    <delete id="removeStockisZero">
        delete from stock where stock_quantity = 0
    </delete>

    <select id="queryStockByAdvanced" parameterType="com.zktr.crmproject.vo.StockAdvancedSearch" resultMap="stockMap">
         select * from stock sto
        left join productspecification pros on sto.spe_id = pros.spe_id
        left join warehouse w on sto.warehouse_id = w.warehouse_id
        left join alarmdetail a on sto.stock_id = a.stock_id where 1=1
        <if test="stockQuantity!=0 and stockQuantity!='' and stockQuantity!=null">
            <choose>
                <when test="stockNumSelect=='大于'">
                    and sto.stock_quantity &gt;#{stockQuantity}
                </when>
                <when test="stockNumSelect=='小于'">
                    and sto.stock_quantity&lt;#{stockQuantity}
                </when>
                <when test="stockNumSelect=='不等于'">
                    and sto.stock_quantity！=#{stockQuantity}
                </when>
                <otherwise>
                    and sto.stock_quantity =#{stockQuantity}
                </otherwise>
            </choose>

        </if>
        <if test ="proName.length!=0 and proName!=null">
            and pros.pro_name like '%${proName}%'
        </if>
        <if test="warehouseId!=null and warehouseId.length!=0">
            and w.warehouse_id in
            <foreach collection="warehouseId" index="index" item="w"
                     open="(" separator="," close=")">
                #{w}
            </foreach>
        </if>
        order by sto.stock_id desc
    </select>

    <select id="queryStockByStockId" resultMap="stockMap">
         select * from stock sto
        left join productspecification pros on sto.spe_id = pros.spe_id
        left join warehouse w on sto.warehouse_id = w.warehouse_id
        left join alarmdetail a on sto.stock_id = a.stock_id where sto.stock_id = #{stockId}
    </select>

    <update id="updatestockQuantity" >
        update stock set stock_quantity = #{stockQuantity} where spe_id = #{speId}
    </update>

    <select id="queryQuantityBySpeId" resultType="java.lang.Integer">
        Select stock_quantity from stock where spe_id = #{speId}
    </select>





</mapper>
