<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zktr.crmproject.dao.mybatis.JrcAuditDetailsMDao">
    <resultMap id="auditdetailsMap" type="Auditdetails">
        <id property="adId" column="ad_id"/>
        <result property="adOpinion" column="ad_opinion"/>
        <result property="adTime" column="ad_time"/>
        <result property="adOperation" column="ad_operation"/>
        <association property="user" javaType="User">
            <id property="uId" column="auditdetails_u_id"/>
            <result property="uName" column="auditdetails_u_name"/>
        </association>
        <association property="audit" javaType="Audit">
            <id property="audId" column="aud_id"/>
            <result property="audTheme" column="aud_theme"/>
            <result property="audType" column="aud_type"/>
            <result property="audTime" column="aud_time"/>
            <result property="audStatus" column="aud_status"/>
            <result property="delStatus" column="del_status"/>
        </association>
    </resultMap>

    <select id="queryAuditDetailsByAudid" resultMap="auditdetailsMap">
        select a.ad_id,a.ad_opinion,a.ad_time,a.ad_operation,
        u.u_id as auditdetails_u_id,u.u_name as auditdetails_u_name,
        a2.aud_id,a2.aud_theme,a2.aud_type,a2.aud_time,a2.aud_status,a2.del_status
        from auditdetails a
        left join user u on u.u_id=a.u_id
        left join audit a2 on a.aud_id = a2.aud_id
        where a.aud_id=#{audId} order by a.ad_id desc limit 1
    </select>

    <select id="queryAuditListByAudId" resultMap="auditdetailsMap">
         select a.ad_id,a.ad_opinion,a.ad_time,a.ad_operation,
        u.u_id as auditdetails_u_id,u.u_name as auditdetails_u_name,
        a2.aud_id,a2.aud_theme,a2.aud_type,a2.aud_time,a2.aud_status,a2.del_status
        from auditdetails a
        left join user u on u.u_id=a.u_id
        left join audit a2 on a.aud_id = a2.aud_id
        where a.aud_id=#{audId}
    </select>

    <delete id="deleteAuditByAudId">
        delete from auditdetails where aud_id=#{audId}
    </delete>

</mapper>