<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zktr.crmproject.dao.mybatis.JrcSalesOpportMDao">
    
    <resultMap id="salesopportMap" type="Salesopport">
        <id property="soId" column="so_id"/>
        <result property="soTheme" column="so_theme"/>
        <result property="updateDate" column="update_date"/>
        <!--状态-->
        <result property="status" column="status"/>
        <result property="conName" column="con_name"/>
        <result property="conPhone" column="con_phone"/>
        <!--类型-->
        <result property="architecture" column="architecture"/>
        <result property="cusSource" column="cus_source"/>

        <result property="priority" column="priority"/>
        <!--阶段-->
        <result property="stage" column="stage"/>
        <result property="disTime" column="dis_time"/>
        <result property="provider" column="provider"/>
        <result property="cusDemand" column="cus_demand"/>
        <result property="signingTime" column="signing_time"/>
        <result property="possibility" column="possibility"/>
        <result property="delStatus" column="del_status"/>

        <result property="amount" column="amount"/>
        <result property="starTarget" column="star_target"/>

        <association property="customer" javaType="Customer">
            <id property="cusId" column="cus_id"/>
            <result property="cusName" column="cus_name"/>
        </association>

        <association property="user" javaType="User">
            <id property="uId" column="u_id"/>
            <result property="uName" column="u_name"/>
        </association>

        <collection property="stagelog" ofType="Stagelog">
            <id property="slId" column="sl_id"/>
            <result property="slNote" column="sl_note"/>
            <result property="recordTime" column="record_time"/>
            <result property="stageName" column="stage_name"/>
            <result property="userName" column="user_name"/>
        </collection>

    </resultMap>
    
    <select id="queryAll" resultMap="salesopportMap">
        select
        s.so_id,s.so_theme,s.update_date,s.status,s.con_name,s.con_phone,s.architecture,s.cus_source,s.priority,
        s.stage,s.dis_time,s.provider,s.cus_demand,s.signing_time,s.possibility,s.amount,s.star_target,s.del_status
        from salesopport s
        where s.del_status=1
        order by s.so_id desc
    </select>

    <select id="queryBySoid" resultMap="salesopportMap">
        select
        s.so_id,s.so_theme,s.update_date,s.status,s.con_name,s.con_phone,s.architecture,s.cus_source,s.priority,
        s.stage,s.dis_time,s.provider,s.cus_demand,s.signing_time,s.possibility,s.amount,s.star_target,s.del_status,
        sl.sl_id, sl.sl_note, sl.record_time, sl.stage_name, sl.user_name,
        c.cus_id,c.cus_name,u.u_id,u.u_name
        from salesopport s
        left join stagelog sl on s.so_id = sl.so_id
        left join user u on s.u_id = u.u_id
        left join customer c on s.cus_id = c.cus_id
        where s.del_status=1 and s.so_id=#{soid}
        order by s.so_id desc 
    </select>

    <select id="queryByLikeSearch" resultMap="salesopportMap">
        select
        s.so_id,s.so_theme,s.update_date,s.status,s.con_name,s.con_phone,s.architecture,s.cus_source,s.priority,
        s.stage,s.dis_time,s.provider,s.cus_demand,s.signing_time,s.possibility,s.amount,s.star_target,s.del_status,
        c.cus_id,c.cus_name,u.u_id,u.u_name
        from salesopport s
        left join customer c on s.cus_id = c.cus_id
        left join user u on s.u_id = u.u_id where 1=1
        and s.del_status=1
        <if test="value!=null and value.length!=0 and value!='全部数据'">
            <choose>
                <when test="value=='初期沟通' || value=='需求分析'|| value=='方案制定'
                 || value=='投招标竞争'  || value=='商务谈判' || value=='合同签约'">
                    and s.stage =#{value}
                </when>
                <when test="value=='跟踪'|| value=='成功' || value=='失败'
                || value=='搁置' || value=='失效'">
                    <if test="value=='跟踪'">
                        and s.status =1
                    </if>
                    <if test="value=='成功'">
                        and s.status =2
                    </if>
                    <if test="value=='失败'">
                        and s.status =3
                    </if>
                    <if test="value=='搁置'">
                        and s.status =4
                    </if>
                    <if test="value=='失效'">
                        and s.status =5
                    </if>
                </when>
                <when test="value=='办公建筑' || value=='住宅建筑' || value=='商业建筑'
                || value=='医疗教育' || value=='文化健身' ">
                    and s.architecture=#{value}
                </when>
                <when test="value=='一级' || value=='二级' || value=='三级' ">
                    and s.priority=#{value}
                </when>
                <otherwise>
                    and s.star_target=#{value}
                </otherwise>
            </choose>
        </if>
        <if test="input!=null and input.length!=0">
            <choose>
                <when test="select=='机会主题'">
                    and s.so_theme like #{input}
                </when>
                <when test="select=='客户名称'">
                    and c.cus_name like #{input}
                </when>
                <otherwise>
                </otherwise>
            </choose>
        </if>
        order by s.so_id desc
    </select>


    <select id="queryByAdvancedSearch"  resultMap="salesopportMap" parameterType="com.zktr.crmproject.vo.SalesOpportAdvancedSearch">
        select
        s.so_id,s.so_theme,s.update_date,s.status,s.con_name,s.con_phone,s.architecture,s.cus_source,s.priority,
        s.stage,s.dis_time,s.provider,s.cus_demand,s.signing_time,s.possibility,s.amount,s.star_target,s.del_status,
        c.cus_id,c.cus_name,u.u_id,u.u_name
        from salesopport s
        left join user u on s.u_id = u.u_id
        left join customer c on s.cus_id = c.cus_id
        <trim prefix="where" prefixOverrides="and">
            and s.del_status=1
            <if test="cusId!=''">
                and c.cus_id=#{cusId}
            </if>
            <if test="conName!=null and conName.length!=0">
                and s.con_name=#{conName}
            </if>
            <if test="opportunitiesThem!=null and opportunitiesThem.length!=0">
                <choose>
                    <when test="opportunitiesThemSelect!=null and opportunitiesThemSelect.length!=0 and opportunitiesThemSelect=='包含'">
                        and s.so_theme like #{opportunitiesThem}
                    </when>
                    <when test="opportunitiesThemSelect!=null and opportunitiesThemSelect.length!=0 and opportunitiesThemSelect=='不包含'">
                        and s.so_theme not like #{opportunitiesThem}
                    </when>
                    <otherwise></otherwise>
                </choose>
            </if>

            <if test="signingTimeStart!=null">
                and s.signing_time &gt;=#{signingTimeStart}
            </if>

            <if test="signingTimeEnd!=null">
                and s.signing_time &lt;=#{signingTimeEnd}
            </if>

            <if test="amount!=null">
                <choose>
                    <when test="amountSelect!=null and amountSelect.length!=0 and amountSelect=='大于'">
                        and s.amount &gt;#{amount}
                    </when>
                    <when test="amountSelect!=null and amountSelect.length!=0 and amountSelect=='小于'">
                        and s.amount &lt;#{amount}
                    </when>
                    <when test="amountSelect!=null and amountSelect.length!=0 and amountSelect=='不等于'">
                        and s.amount &gt;#{amount} and s.amount &lt;#{amount}
                    </when>
                    <otherwise></otherwise>
                </choose>
            </if>
            <if test="updateTimeStart!=null">
                and s.update_date &gt;= #{updateTimeStart}
            </if>
            <if test="updateTimeEnd!=null">
                and s.update_date &lt;=#{updateTimeEnd}
            </if>

            <if test="checkedCustomerSource.size() > 0">
                and s.cus_source in
                <foreach collection="checkedCustomerSource" index="index" item="customerSource"
                         open="(" separator="," close=")">
                        #{customerSource}
                </foreach>
            </if>

            <if test="checkedStage.size() > 0">
                and s.stage in
                <foreach collection="checkedStage" index="index" item="stage"
                         open="(" separator="," close=")">
                    #{stage}
                </foreach>
            </if>

            <if test="checkedUser.size() > 0">
                and u.u_id in
                <foreach collection="checkedUser" index="index" item="user"
                         open="(" separator="," close=")">
                    #{user}
                </foreach>
            </if>

            <if test="checkedStatus.size() > 0">
                and s.status in
                <foreach collection="checkedStatus" index="index" item="status"
                         open="(" separator="," close=")">
                    #{status}
                </foreach>
            </if>

            <if test="checkedPriority.size() > 0">
                and s.priority in
                <foreach collection="checkedPriority" index="index" item="priority"
                         open="(" separator="," close=")">
                    #{priority}
                </foreach>
            </if>
            <if test="checkedStarTarget.size() > 0">
                and s.star_target in
                <foreach collection="checkedStarTarget" index="index" item="starTarget"
                         open="(" separator="," close=")">
                    #{starTarget}
                </foreach>
            </if>

            <if test="checkedType.size() > 0">
                and s.architecture in
                <foreach collection="checkedType" index="index" item="type"
                         open="(" separator="," close=")">
                    #{type}
                </foreach>
            </if>

            <if test="createTimeStart!=null">
                and s.dis_time &gt;=#{createTimeStart}
            </if>
            <if test="createTimeEnd!=null">
                and s.dis_time &lt;=#{createTimeEnd}
            </if>

        </trim>
        order by s.so_id desc
    </select>


    <select id="deleteQueryById" resultMap="salesopportMap">
        select
        s.so_id,s.so_theme,s.update_date,s.status,s.con_name,s.con_phone,s.architecture,s.cus_source,s.priority,
        s.stage,s.dis_time,s.provider,s.cus_demand,s.signing_time,s.possibility,s.amount,s.star_target,s.del_status,
        c.cus_id,c.cus_name,u.u_id,u.u_name
        from salesopport s
        left join user u on s.u_id = u.u_id
        left join customer c on s.cus_id = c.cus_id
        where s.del_status=1 and s.so_id=#{soid}
        order by s.so_id desc
    </select>

    <select id="querySalesOpportByCustomer" resultMap="salesopportMap">
        select s.so_id,s.so_theme from salesopport s left join customer c2 on s.cus_id = c2.cus_id
        <trim prefix="where" prefixOverrides="and">
            and s.del_status=1
            <if test="customer!=null">
                and c2.cus_id=#{customer.cusId}
            </if>
        </trim>
    </select>

    <select id="querySalesOpportByCusId" resultMap="salesopportMap">
        select s.so_id,s.so_theme from salesopport s left join customer c2 on s.cus_id = c2.cus_id
        where s.del_status=1 and c2.cus_id=#{cusid}
    </select>

    <select id="querySalesOpportByForecast" resultMap="salesopportMap">
        select s.so_id, s.so_theme,s.update_date,s.status,s.con_name,
        s.con_phone,s.cus_id, s.architecture,s.cus_source,s.priority,
        s.stage,s.dis_time,s.provider,s.cus_demand,s.signing_time,s.possibility,
        s.amount,s.star_target,s.del_status,
        u.u_id,u.u_name
        from salesopport s
        left join user u on s.u_id=u.u_id
        <trim prefix="where" prefixOverrides="and">
            <if test="timeStart!=null">
                and s.signing_time>=#{timeStart}
            </if>
            <if test="timeEnd!=null">
                and s.signing_time&lt;=#{timeEnd}
            </if>
            <if test="possibolty!=null and possibolty.length>0">
                and s.possibility=#{possibolty}
            </if>
            <if test="status!=null">
                <choose>
                    <when test="status==1">
                        and 1=1
                    </when>
                    <when test="status==2">
                        and s.stage!='合同签约'
                    </when>
                    <otherwise></otherwise>
                </choose>
            </if>
        </trim>
        order by s.so_id desc
    </select>

    <select id="queryFinalllSalesOpportByForecast" resultMap="salesopportMap">
        select s.so_id, s.so_theme,s.update_date,s.status,s.con_name,
        s.con_phone,s.cus_id, s.architecture,s.cus_source,s.priority,
        s.stage,s.dis_time,s.provider,s.cus_demand,s.signing_time,s.possibility,
        s.amount,s.star_target,s.del_status,
        u.u_id,u.u_name
        from salesopport s
        left join user u on s.u_id=u.u_id
        <trim prefix="where" prefixOverrides="and">
            <if test="timeStart!=null">
                and s.signing_time>=#{timeStart}
            </if>
            <if test="timeEnd!=null">
                and s.signing_time&lt;=#{timeEnd}
            </if>
            <if test="possibolty!=null and possibolty.length>0">
                and s.possibility=#{possibolty}
            </if>
            <if test="uId!=null">
                and u.u_id=#{uId}
            </if>
        </trim>
        order by s.so_id desc
    </select>

    <select id="queryFinallStage" resultType="com.zktr.crmproject.vo.JrcSalesOpportStage">
       select s.stage as stage,count(s.so_id) as counts from salesopport s
        left join user u on s.u_id=u.u_id
        <trim prefix="where" prefixOverrides="and">
            <if test="uId!=null">
                u.u_id=#{uId}
            </if>
        </trim>
        group by s.stage
    </select>



</mapper>