<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zktr.crmproject.dao.mybatis.JrcStagelogMDao">
    
    <resultMap id="stagelogtMap" type="Stagelog">
        <id property="slId" column="sl_id"/>
        <result property="slNote" column="sl_note"/>
        <result property="recordTime" column="record_time"/>
        <result property="stageName" column="stage_name"/>
        <association property="user" javaType="User">
            <id property="uId" column="u_id"/>
            <result property="uName" column="u_name"/>
        </association>
        <association property="salesopport" column="salesopport">
            <id property="soId" column="so_id"/>
        </association>
    </resultMap>

    <select id="queryStageLogBySoid" resultMap="stagelogtMap">
        select s.sl_id,s.sl_note,s.record_time,s.stage_name,u.u_id,u.u_name,s2.so_id
        from stagelog s
        left join salesopport s2 on s.so_id = s2.so_id
        left join user u on s.u_id=u.u_id
        where s2.so_id=#{soid}
        order by s.sl_id desc
    </select>


</mapper>