<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zktr.crmproject.dao.mybatis.JrcUserMDao">
    
    <resultMap id="userMap" type="User">
        <id property="uId" column="u_id"/>
        <result property="uName" column="u_name"/>
        <result property="uImg" column="u_img"/>
    </resultMap>
    
    <select id="queryAll" resultMap="userMap">
        select u_id,u_name from user
    </select>

    <select id="queryByUid" resultMap="userMap">
        select u_id,u_name from user where u_id=#{uid}
    </select>

    <select id="queryByUserName" resultMap="userMap">
        select u_id,u_name from user where u_name=#{uName}
    </select>

    <select id="queryUserBySalesOpport" resultMap="userMap">
            select u.u_id,u.u_name,u.u_img
            from user u left join salesopport s
            on u.u_id=s.u_id
            <trim prefix="where" prefixOverrides="and">
                <if test="timeStart!=null">
                    and s.signing_time>=#{timeStart}
                </if>
                <if test="timeEnd!=null">
                    and s.signing_time&lt;=#{timeEnd}
                </if>
                <if test="possibity!=null and possibity.length>0">
                    and s.possibility=#{possibity}
                </if>
            </trim>
            group by u.u_id
    </select>

</mapper>