<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zktr.crmproject.dao.mybatis.PLProductSpecificationMDao">

    <resultMap id="specificationMap" type="Productspecification">
        <id property="speId" column="spe_id"></id>
        <result property="proName" column="pro_name"></result>
        <result property="speSpecification" column="spe_specification"></result>
        <result property="speUnit" column="spe_unit" ></result>
        <result property="speUnitConversion" column="spe_unit_conversion"></result>

        <association property="product" javaType="Product">
            <id property="proId" column="pro_id"></id>
            <result property="proName" column="pro_name"></result>
            <result property="proDate" column="pro_date"></result>
        </association>
    </resultMap>

    <select id="queryAllByProid" resultMap="specificationMap">
        SELECT s.spe_id,s.pro_id,s.pro_name,s.spe_specification,s.spe_unit,s.spe_unit_conversion,p.pro_date
        FROM
        productspecification s
        INNER JOIN
        product p
        ON s.pro_id=p.pro_id
        WHERE p.pro_id=#{proid} AND p.pro_del_state=1
        ORDER BY s.spe_id DESC
    </select>
    <insert id="insertSpe" parameterType="com.zktr.crmproject.vo.ProductSpecificationVo">
        insert into productspecification(pro_id,pro_name,spe_specification,spe_unit,spe_unit_conversion) values(#{proId},#{proName},#{speSpecification},#{speUnit},#{speUnitConversion})
    </insert>

    <update id="updateSpe" parameterType="com.zktr.crmproject.pojos.Productspecification">
        update productspecification set spe_specification=#{speSpecification},spe_unit=#{speUnit},spe_unit_conversion=#{speUnitConversion} where spe_id=#{speid}
    </update>

    <select id="queryBySepId" resultMap="specificationMap">
        select * from productspecification where spe_id=#{speid}
    </select>

</mapper>